<h3>Welcome to the DCM Scrabble Solver!</h3>
<h5>Please type your Scrabble query:</h5>
<form class="form-inline" role="form" action="/solve" method="post">  
	<div class="form-group">
		<input type="text" name="letters">  
		<input type="submit">  
	</div>
</form>  